In [ ]:
# Q 1
import numpy
x = [2, 3, 6]
res = numpy.prod(x)
print(res)

# 36

36

In [ ]:
# Q 1
x = [2, 3, 6]
res = 1
for i in x:
  res = res * i
print(res)

# 36

36

In [ ]:
# Q 2
tuple1 = [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
list1 = []
list2 = []
for t in tuple1:
    list1.append(t[1],)
list1.sort()
for q in list1:
    for l in tuple1:
        if q == int(l[1],):
            list2.append(l)
print(list2)

# [(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [ ]:
# Q 3
d1 = {'a': 100, 'b': 200, 'c': 300}
d2 = {'a': 300, 'b': 200, 'd': 400}
d3 = {"a": "", "b": ""}
d3["a"] = d1["a"] + d2["a"]
d3["b"] = d1["b"] + d2["b"]
d3.update({'d': 400, 'c': 300})
print(d3)

# {'a': 400, 'b': 400, 'd': 400, 'c': 300}

{'a': 400, 'b': 400, 'd': 400, 'c': 300}

In [ ]:
# Q 3
d1 = {'a': 100, 'b': 200, 'c': 300}
d2 = {'a': 300, 'b': 200, 'd': 400}
d3 = {}
d3.update({"a" : d1["a"] + d2["a"], "b" : d1["b"] + d2["b"], 'd': 400, 'c': 300})
print(d3)

# {'a': 400, 'b': 400, 'd': 400, 'c': 300}

{'a': 400, 'b': 400, 'd': 400, 'c': 300}

In [ ]:
# Q 4
n = int(input())
myset = {}
i = 0
while i < n:
  i = i +1
  myset.update({i : i*i})
print(myset)

# {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

8
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [ ]:
# Q 5
list0 = [('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]
list1 = []
list2 = []
for x in list0:
    list1.append(float(x[1]),)
list1.sort(reverse=True)
for n in list1:
    for q in list0:
        if n == float(q[1],):
            list2.append(q)
print(list2)

# [('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]

[('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]